

.score-box {
	width: 94%;
	background: white;
	display: flex;
	flex-direction: column;
}

.score-box__display {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.score-box__display--ch1,
.score-box__display--ch2 {
	width: 40%;
}