@media screen and (max-width: 1030px) {

  .range-box__form--1--input,
  .range-box__form--2--input {
    font-size: 16px;
    height: 30px;
  }
  
  .range-box__button {
    font-size: 16px;
    height: 30px;
  }

  .guess-box__input {
    font-size: 16px;
    height: 30px; 
  }

  .guess-box--button {
    font-size: 16px;
    height: 30px;
    width: 31%;
  }
}

@media screen and (max-width: 900px) {

  .header {
    height: 130px;
  } 

  .header__title {
    font-size: 48px;
  }

  .header__subtitle {
    width: 45%;
  }

  .header__subtitle__element.center {
    font-size: 16px;
    font-weight: 300;
  }

  .content {
    flex-direction: column;
  }

  .content__right {
    margin: auto;
    width: 100%;
  }

  .content__left {
    border: none;
    margin: auto;
    width: 100%;
  }

  .range-box__form--1--input,
  .range-box__form--2--input {
    font-size: 20px;
    height: 35px;
  }

  .range-box__button {
    font-size: 3vw;
    height: 35px;
  }

  .guess-box__input {
    font-size: 20px;
    height: 35px;
  }

  .guess-box--button {
    font-size: 3vw;
    height: 35px;
    width: 31%;
  }
}

@media screen and (max-width: 425px) {

  .header {
    height: 100px;
  } 

  .header__title {
    font-size: 32px;
    margin-top: 15px;
  }

  .header__subtitle {
    width: 80%;
  }

  .header__subtitle__element.center {
    font-size: 10px;
    font-weight: 300;
  }

  .header__subtitle__element.left,
  .header__subtitle__element.right {
    background: white;
    flex-grow: 3;
    height: 3%;
    width: 15%;
  } 

  .content {
    flex-direction: column;
  }

  .content__right {
    margin: auto;
    width: 100%;
  }

  .content__left {
    margin: auto;
    width: 100%;
  }

  .range-box {
    height: 25%;
  }

  .range-box__title{
    font-size: 20px;
    height: 30px;
  }

  .range-box__form {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .range-box__form--1,
  .range-box__form--2 {
    margin: 10px 0px;
    width: 100%;
  }

  .range-box__button {
    align-self: flex-start;
    font-size: 14px;
    height: 30px;
    margin-top: 12px;
    width: 100px;
  }

  .guess-box--name {
    font-size: 20px;
  }

  .guess-box__range {
    font-size: 16px;
  }

  .range-box__form--1--txt,
  .range-box__form--2--txt,
  .guess-box--label,
  .score-box__display--hilo {
    font-size: 14px;
  }

  .guess-box__range {
    margin-bottom: 10px;
  }

  .guess-box--name {
    height: 30px;
  }

  .guess-box__ch1,
  .guess-box__ch2 {
    margin-bottom: 10px;
  } 

  .guess-box__ch1__forms {
    display: flex;
    flex-direction: column;
  }

  .guess-box__forms {
    margin: 10px 0px;
    width: 100%;
  }

  .guess-box__ch2__forms {
    display: flex;
    flex-direction: column;
  }

  .guess-box__input {
    font-size: 14px;
    height: 25px;
  }

  .guess-box__three-buttons {
    flex-direction: column;
    margin-top: 5px;
  }

  .guess-box--button {
    font-size: 14px;
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
  }

  .score-box__title {
    font-size: 14px;
  }

  .score-box__display {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .score-box__display--box {
    width: 100%;
  }

  .score-box__display--name {
    font-size: 16px;
  }

  .score-box__display--num {
    font-size: 80px;
    font-weight: 800;
    padding: 0px;

  }

  .score-box__display--guess {
    font-size: 14px;
  }

  .score-box--divider {
    background: #D1D2D4;
    height: 2px;  
    margin: 10px 0px;
    width: 90%;
  }

  .winner-card {
    font-size: 14px;
    padding: 10px;
  }

  .winner-card__top {
    align-items: center;
    flex-direction: column;
  }

  .winner-card__top--vs {
    align-self: center;
    font-size: 8px;
  }

  .winner-card__mid {
    margin: 5px 0px;
    padding: 20px 0px;
  }

  .winner-card__mid--name {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
  }

  .winner-card__mid--win {
    font-size: 24px;
  }

  .winner-card__bottom--img {
    height: 20px;
    width: 20px;
  }
}