* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/*This is the beginning of the Header section*/

.header {
  align-items: center;
  background: #404042;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: flex-start;
  width: 100%;
}

.header__title {
  color: #EC458B;
  font-size: 76px;
  font-weight: 100;
}

.header__subtitle {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 43%;
}

.header__title--num {
  font-weight: 800;
}

.header__subtitle__element {
  color: white;
  flex-grow: 1;
  text-align: center;
}

.header__subtitle__element.center {
  font-size: 24px;
  font-weight: 300;
}

.header__subtitle__element.left,
.header__subtitle__element.right {
  background: white;
  flex-grow: 3;
  height: 5%;
}

/*This is the beginning of the Content section*/

.content {
  display: flex;
}

.content__left {
  align-items: center;
  background: #F5F6F8;
  border-right: 2px solid #7F7F7F;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content__right {
  background: #D1D2D4;
  display: flex;
  flex-direction: column;
  width: 50%;
}

/*This is the beginning of the Range card*/

.range-box {
  background: #FFF;
  border: 2px solid #D1D2D4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 160px;
  justify-content: center;
  margin: 3%;
  padding: 20px;
  width: 94%;
}

.range-box__title {
  color: #404042;
  font-size: 26px;
  font-weight: 800;
  height: 50px;
}

.range-box__form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.range-box__form--1,
.range-box__form--2 {
  display: flex;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.range-box__form--1--input,
.range-box__form--2--input {
  border: 1px solid #D1D2D4;
  font-size: 20px;
  height: 35px;
  padding-left: 15px;
  text-decoration: none;
  width: 80%;
}

.range-box__form--1--txt,
.range-box__form--2--txt {
  color: #7F7F7F;
  font-size: 22px;
  padding-bottom: 3px;
}

.range-box__button {
  background: #D1D2D4;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  width: 160px;
}

.range-box__button:focus {
  background: #7F7F7F;
  outline: none;
}

.range-box__button.enable:hover {
  background: #EC458B;
  outline: none;
}

/*This is the beginning of the Guess card*/

.guess-box {
  background: #FFF;
  border: 2px solid #D1D2D4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  margin: 3%;
  padding: 20px;
  width: 94%;
}

.guess-box__range {
  color: #7F7F7F;
  font-size: 22px;
  margin-bottom: 30px;
  padding-bottom: 3px;
}

.guess-box__range--low,
.guess-box__range--high {
  color: #404042;
  font-weight: 700;
  text-decoration: underline;
}

.guess-box__ch1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.guess-box__ch1__forms {
  display: flex;
  flex-direction: row;
}

.guess-box__ch2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.guess-box__ch2__forms {
  display: flex;
  flex-direction: row;
}

.guess-box__forms {
  display: flex;
  flex-direction: column;
}

.form1 {
  width: 60%;
}

.form2 {
  margin-left: 6%;
  width: 30%;
}

.guess-box__input {
  border: 1px solid #D1D2D4;
  font-size: 20px;
  height: 35px;
  padding-left: 15px;
  text-decoration: none;
}

.guess-box--name {
  color: #404042;
  font-size: 26px;
  font-weight: 800;
  height: 50px;
}

.guess-box--label {
  color: #7F7F7F;
  font-size: 22px;
  padding-bottom: 3px;
}

.guess-box__three-buttons {
  display: flex;
  justify-content: space-between;
}

.guess-box--button {
  background: #D1D2D4;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  width: 160px;
  width: 31%;
}

.guess-box--button:focus {
  background: #7F7F7F;
  outline: none;
}

.guess-box--button.enable:hover {
  background: #EC458B;
  outline: none;
}

.input-error {
  border: 2px solid #DD1972;
}

/*This placement is specifically to assure that the enable button color fires farther down the cascade then all the buttons it effects*/

.enable {
  background: #7F7F7F;
  cursor: pointer;
}

/*This is the beginning of the Score box*/

.score-box {
  background: white;
  border: 2px solid #D1D2D4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding: 20px;
  width: 94%;
}

.score-box__title {
  color: #404042;
  font-size: 26px;
  font-weight: 800;
}

.score-box__display {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.score-box--divider {
  background: #D1D2D4;
  width: 2px;
}

.score-box__display--box {
  width: 40%;
}

.score-box__display--num {
  color: #EC458B;
  font-size: 100px;
  font-weight: 800;
}

.score-box__display--name {
  color: #6E6E6E;
  font-size: 22px;
  font-weight: 700;
}

.score-box__display--guess,
.score-box__display--hilo {
  color: #6E6E6E;
  font-size: 18px;
  font-weight: 200;
}

/*This the beginning of the Winner card section*/

.winner-card {
  background: white;
  border: 2px solid #7F7F7F;
  color: #7F7F7F;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin: 3%;
  padding: 20px;
  text-transform: uppercase;
}

.winner-card__top {
  display: flex;
  justify-content: space-around;
}

.winner-card--name {
  font-weight: 700;
}

.winner-card__top--vs {
  align-self: flex-end;
}

.winner-card__mid {
  align-items: center;
  border-bottom: 2px solid #D1D2D4;
  border-top: 2px solid #D1D2D4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  padding: 20px 0;
}

.winner-card__mid--name,
.winner-card__mid--win {
  font-size: 50px;
}

.winner-card__mid--win {
  font-weight: 200;
}

.winner-card__bottom {
  display: flex;
  font-weight: 100;
  justify-content: space-between;
}

.bold {
  font-weight: 700;
}

.winner-card__bottom--img {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.winner-card.remove {
  display: none;
}



